import pytest
from XXX import parse, part1, part2


@pytest.mark.parametrize("example, expected", [(True, 0), (False, 0)])
def test_XXX_part1(example: bool, expected: int):
    assert part1(parse(example=example)) == expected


@pytest.mark.parametrize("example, expected", [(True, 0), (False, 0)])
def test_XXX_part2(example: bool, expected: int):
    assert part2(parse(example=example)) == expected
